## Coleta de Dados MySQL em R

#### Importando o pacote RMariaDB

In [78]:
if(!"RMariaDB" %in% (.packages())){require(RMariaDB)}

#### Conectando ao SGBD MySQL --> Banco de Dados do Bootcamp

In [79]:
con <- dbConnect(MariaDB(), user = "root", password = "igti",
                 dbname ="bootcamp", host = "localhost",serverTimezone='UTC')

#### Listando todas as tabelas no DB

In [80]:
tables <-dbListTables(con)
tables

[1] "caracteristicageralimovel" "caracteristicasgerais"
[3] "cidade"                    "estado"
[5] "imovel"                    "tipounidade"

#### Lendo os dados de uma tabela

In [81]:
tabledata <- dbReadTable(con, "estado")
tabledata

  CodEstadoIBGE NomeEstado SiglaEstado Regiao
1 1             São Paulo  SP          Sudeste

#### Executando comandos SQL

In [82]:
query1 <- "insert into estado values (2,'Amazonas','AM','Norte')"
query2 <- "insert into estado values (3,'Bahia','BA','Nordeste')"

results <- dbSendQuery(con,query1)
results
dbClearResult(results)

results <-dbSendQuery(con, query2)
results
dbClearResult(results)

<MariaDBResult>
  SQL  insert into estado values (2,'Amazonas','AM','Norte')
  ROWS Fetched: 0 [complete]
       Changed: 1

<MariaDBResult>
  SQL  insert into estado values (3,'Bahia','BA','Nordeste')
  ROWS Fetched: 0 [complete]
       Changed: 1

#### Mostrando os dados atualizados

In [84]:
td <- dbReadTable(con, "estado")
td

  CodEstadoIBGE NomeEstado SiglaEstado Regiao
1 1             São Paulo  SP          Sudeste
2 2             Amazonas   AM          Norte
3 3             Bahia      BA          Nordeste